/*Station list*/
.list-wrapper {
    padding: 32px 35px 56px;
    max-height: 687px;
    overflow: auto;
}

/*Custom style for scrollbar*/
.list-wrapper::-webkit-scrollbar {
    width: 10px;
}

.list-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(128 128 128 / 93%);
}

.list-wrapper::-webkit-scrollbar-thumb {
    background: #4c4c58;
}

.list-wrapper::-webkit-scrollbar-thumb:hover {
    background: #656572;
}

.list {
    list-style: none;
}
