/*Footer*/
.footer {
    height: 159px;
    padding: 41px 35px 51px;
    border-top: 2px solid #515561;
    -webkit-border-radius: 0 0 48px;
    -moz-border-radius: 0 0 48px;
    border-radius: 0 0 48px;
    background-color: #25252f;
    text-align: center;
}

.currently-playing-label {
    font-size: 22px;
    line-height: 30px;
    color: #edae61;
    font-weight: bold;
    font-family: "Helvetica Neue", "Arial", "Roboto", sans-serif;
    text-align: center;
    text-transform: uppercase;
}

.currently-playing-title {
    font-size: 44px;
    line-height: 1.05;
    color: #a2abbd;
    font-family: "Helvetica Neue", "Arial", "Roboto", sans-serif;
    text-align: center;
}
